@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-xl-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-xl-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-xl-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-xl-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-xl-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-xl-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-xl-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-xl-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-xl-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-xl-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-xl-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-xl-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-xl-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-xl-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-xl-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-xl-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-xl-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-xl-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-xl-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-xl-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-xl-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-xl-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-xl-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-xl-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-xl-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-xl-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-xl-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-xl-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-xl-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-xl-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-xl-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-xl-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-xl-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-xl-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-xl-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-xl-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-xl-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-xl-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-xl-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-xl-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-xl-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-xl-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-xl-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-xl-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-xl-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-xl-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-xl-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-xl-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-xl-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-xl-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-xl-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-xl-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-xl-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-xl-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-xl-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-xl-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-xl-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-xl-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-xl-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-xl-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-xl-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-xl-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-xl-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-xl-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-xl-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-xl-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-xl-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-xl-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-xl-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-xl-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-xl-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-xl-12 {
          padding-left: 15px;
          padding-right: 15px; } }

@media (min-width: 1200px) {
  .container {
    min-width: 1170px !important; } }

body {
  position: relative;
  min-width: 320px;
  max-width: 100%;
  font-size: 12px;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 320px;
  width: 100%;
  height: 54px;
  padding: 15px 0;
  z-index: 20;
  background: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  #header.active {
    background-color: rgba(255, 255, 255, 0.8); }
  #header .logo a img {
    width: 160px;
    display: block; }
  #header .project-inquiry {
    text-align: right; }
    #header .project-inquiry .p-txt {
      display: inline-block;
      line-height: 24px;
      margin-right: 10px; }
      #header .project-inquiry .p-txt p {
        font-size: 13px;
        color: #555;
        line-height: 23px;
        font-weight: 300; }
      #header .project-inquiry .p-txt span {
        display: none; }
    #header .project-inquiry .btn-nav {
      display: inline-block;
      width: 24px;
      height: 24px;
      vertical-align: top;
      padding: 0;
      border: 0;
      border-radius: 0;
      background: none;
      box-shadow: none !important; }
      #header .project-inquiry .btn-nav .bar {
        display: block;
        margin: 4px 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        #header .project-inquiry .btn-nav .bar:nth-of-type(1) {
          border-top: 1px solid #000;
          border-bottom: 1px solid #b4b4ad; }
        #header .project-inquiry .btn-nav .bar:nth-of-type(2) {
          border-top: 1px solid #b4b4ad;
          border-bottom: 1px solid #000; }
        #header .project-inquiry .btn-nav .bar:nth-of-type(3) {
          border-top: 1px solid #b4b4ad;
          border-bottom: 1px solid #000; }
    #header .project-inquiry .btn-close {
      position: relative;
      top: 1px;
      vertical-align: top;
      width: 24px;
      height: 24px; }
      #header .project-inquiry .btn-close .bar {
        width: 100% !important; }
        #header .project-inquiry .btn-close .bar:nth-of-type(1) {
          position: absolute;
          top: 7px;
          left: 0;
          border: 0;
          border-bottom: 1px solid #000;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -moz-transform: rotate(135deg); }
        #header .project-inquiry .btn-close .bar:nth-of-type(2) {
          display: none; }
        #header .project-inquiry .btn-close .bar:nth-of-type(3) {
          position: absolute;
          top: 7px;
          right: 0;
          border: 0;
          border-bottom: 1px solid #000;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -moz-transform: rotate(45deg); }
  @media (min-width: 768px) {
    #header {
      height: 86px;
      padding: 20px 10px; }
      #header .logo a img {
        width: 270px; }
      #header .project-inquiry .p-txt {
        position: relative;
        padding: 0 20px;
        text-align: center;
        margin-right: 30px; }
        #header .project-inquiry .p-txt p {
          position: relative;
          font-size: 17px;
          line-height: 42px;
          z-index: 2;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        #header .project-inquiry .p-txt span {
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          display: block;
          z-index: 1;
          background-color: #2b2b2b;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        #header .project-inquiry .p-txt:hover p, #header .project-inquiry .p-txt:focus p {
          color: #fff; }
        #header .project-inquiry .p-txt:hover span, #header .project-inquiry .p-txt:focus span {
          width: 100%; }
      #header .project-inquiry .btn-nav {
        position: relative;
        top: -4spx;
        width: 42px;
        height: 42px;
        text-align: right; }
        #header .project-inquiry .btn-nav .bar {
          margin: 7px 0 7px auto;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          #header .project-inquiry .btn-nav .bar:nth-of-type(1) {
            width: 80%;
            border-top: 1px solid #000;
            border-bottom: 1px solid #b4b4ad; }
          #header .project-inquiry .btn-nav .bar:nth-of-type(2) {
            width: 100%;
            border-top: 1px solid #000;
            border-bottom: 1px solid #b4b4ad; }
          #header .project-inquiry .btn-nav .bar:nth-of-type(3) {
            width: 80%;
            border-top: 1px solid #b4b4ad;
            border-bottom: 1px solid #000; }
        #header .project-inquiry .btn-nav:hover .bar {
          width: 100% !important; }
      #header .project-inquiry .btn-close {
        width: 42px;
        height: 42px;
        margin: 2px 0; }
        #header .project-inquiry .btn-close .bar {
          width: 100% !important; }
          #header .project-inquiry .btn-close .bar:nth-of-type(1) {
            position: absolute;
            top: 13px;
            border: 0;
            border-top: 1px solid #000; }
          #header .project-inquiry .btn-close .bar:nth-of-type(2) {
            display: none; }
          #header .project-inquiry .btn-close .bar:nth-of-type(3) {
            position: absolute;
            top: 13px;
            border: 0;
            border-top: 1px solid #000; } }
  @media (min-width: 992px) {
    #header {
      padding-left: 15px;
      padding-right: 15px; } }

#gnb-nav {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding: 110px 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  background-color: rgba(149, 140, 131, 0.97);
  z-index: 10; }
  #gnb-nav .gnb-list {
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    text-align: center; }
    #gnb-nav .gnb-list .menu-list {
      position: relative;
      top: 100px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.4s;
      transition-delay: 0.4s;
      opacity: 0; }
      #gnb-nav .gnb-list .menu-list > li {
        line-height: 55px; }
        #gnb-nav .gnb-list .menu-list > li > a {
          display: inline-block;
          font-size: 30px;
          color: #111;
          font-weight: 300;
          letter-spacing: 2px; }
          #gnb-nav .gnb-list .menu-list > li > a > span {
            display: none; }
          #gnb-nav .gnb-list .menu-list > li > a:focus {
            color: #fff; }
    #gnb-nav .gnb-list .recruit {
      margin-top: 80px;
      position: relative;
      top: 100px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s;
      opacity: 0; }
      #gnb-nav .gnb-list .recruit > ul > li > a {
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        color: #111;
        letter-spacing: 1px;
        line-height: 40px; }
        #gnb-nav .gnb-list .recruit > ul > li > a span {
          display: none; }
        #gnb-nav .gnb-list .recruit > ul > li > a:focus {
          color: #fff; }
  @media (min-width: 768px) {
    #gnb-nav {
      padding: 120px 0; }
      #gnb-nav .gnb-list .menu-list > li {
        line-height: 85px; }
        #gnb-nav .gnb-list .menu-list > li > a {
          position: relative;
          font-size: 50px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          #gnb-nav .gnb-list .menu-list > li > a > span {
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 1px;
            background-color: #fff;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          #gnb-nav .gnb-list .menu-list > li > a:hover, #gnb-nav .gnb-list .menu-list > li > a:focus {
            color: #fff; }
            #gnb-nav .gnb-list .menu-list > li > a:hover span, #gnb-nav .gnb-list .menu-list > li > a:focus span {
              margin-left: -50%;
              width: 100%; }
      #gnb-nav .gnb-list .recruit {
        margin-top: 100px; }
        #gnb-nav .gnb-list .recruit > ul > li > a {
          position: relative;
          font-size: 25px;
          line-height: 50px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          #gnb-nav .gnb-list .recruit > ul > li > a > span {
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 1px;
            background-color: #fff;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          #gnb-nav .gnb-list .recruit > ul > li > a:hover, #gnb-nav .gnb-list .recruit > ul > li > a:focus {
            color: #fff; }
            #gnb-nav .gnb-list .recruit > ul > li > a:hover > span, #gnb-nav .gnb-list .recruit > ul > li > a:focus > span {
              margin-left: -50%;
              width: 100%; } }

.opened {
  overflow: hidden; }
  .opened #gnb-nav {
    position: fixed;
    top: 0;
    overflow: auto;
    height: 100%; }
    .opened #gnb-nav .gnb-list {
      opacity: 1; }
      .opened #gnb-nav .gnb-list ul {
        top: 0;
        opacity: 1; }
      .opened #gnb-nav .gnb-list .recruit {
        top: 0;
        opacity: 1; }
  .opened #header {
    background: none !important; }
    .opened #header .p-txt {
      display: none; }

#footer {
  font-family: 'Roboto', sans-serif;
  padding: 30px 0;
  background-color: #fff; }
  #footer .company-info ul {
    font-size: 0; }
    #footer .company-info ul li {
      font-size: 12px;
      line-height: 24px;
      color: #111;
      display: inline-block;
      margin-right: 15px; }
      #footer .company-info ul li:first-child {
        display: block;
        margin-right: 0; }
      #footer .company-info ul li:last-child {
        margin-right: 0; }
      #footer .company-info ul li dl dt {
        font-weight: 500;
        display: inline; }
      #footer .company-info ul li dl dd {
        display: inline;
        font-weight: 300; }
        #footer .company-info ul li dl dd a {
          color: #111; }
  #footer .company-info .copyright {
    font-weight: 300;
    color: #111;
    line-height: 24px; }
  #footer .btn-area {
    display: block;
    text-align: right; }
    #footer .btn-area .btn-brochure {
      position: relative;
      display: inline-block;
      text-align: center;
      padding: 0;
      border-radius: 0;
      margin-right: 10px;
      display: inline-block;
      border: 1px solid #999; }
      #footer .btn-area .btn-brochure:last-child {
        margin-right: 0; }
      #footer .btn-area .btn-brochure p {
        position: relative;
        width: 120px;
        height: 40px;
        font-size: 12px;
        color: #111;
        line-height: 38px;
        z-index: 2;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      #footer .btn-area .btn-brochure span {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #2b2b2b;
        z-index: 1;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      #footer .btn-area .btn-brochure:hover p {
        color: #fff; }
      #footer .btn-area .btn-brochure:hover span {
        width: 100%; }
  @media (min-width: 768px) {
    #footer {
      padding: 50px 10px 45px; }
      #footer .btn-area .btn-brochure {
        position: relative;
        font-size: 12px;
        color: #111;
        width: 120px;
        height: 40px;
        line-height: 38px;
        text-align: center;
        padding: 0;
        border-radius: 0;
        display: inline-block;
        border: 1px solid #999; }
        #footer .btn-area .btn-brochure:hover span {
          position: absolute;
          top: 0;
          left: 0;
          color: #333; } }
  @media (min-width: 992px) {
    #footer {
      padding-left: 15px;
      padding-right: 15px; }
      #footer .btn-area .btn-brochure {
        width: 170px; }
        #footer .btn-area .btn-brochure p {
          width: 170px; }
        #footer .btn-area .btn-brochure:hover span {
          position: absolute;
          top: 0;
          left: 0;
          color: #333; }
      #footer .company-info ul li:first-child {
        display: inline-block;
        margin-right: 15px; } }

/*# sourceMappingURL=default.css.map */
